<template>
    <header class="flex justify-between">
        <div class="ml-20 mt-10 flex">
            <img class="h-10" src="images/gnt-logo.png" alt="">
                   <div class="float-left pt-4 pl-3 flex ">
            <h2 class="text-orange-600 md:text-xl text-sm px-1 font-black" >GENEAT</h2>
            <h2 class="text-violet-700 md:text-xl text-sm">SOFTWARE</h2>
        </div>
        </div>
        <div class="float-right mt-10 mr-20 ">
            <a class="m-5 hover:bg-red-300" href="#">Home</a>
            <a class="m-5 hover:bg-red-300" href="#">Our Service</a>
            <a class="m-5 hover:bg-red-300" href="#">Portfolio</a>
            <a class="m-5 hover:bg-red-300" href="#">Blog</a>
            <a class="m-5 hover:bg-red-300" href="#">About Us</a>
            <a class="m-5 hover:bg-red-300" href="#">Contact</a>
        </div>  
        
    </header>
    <div class="flex flex-row mx-10">
        <div class="basis-1/2 p-20">
            <h5 class="text-sm pb-3 text-orange-600 font-bold">TOP SECURITY APPLICATIONS</h5>
            <h2 class="text-4xl text-violet-800 mt-2">Hight Standards bring</h2>
            <h1 class="text-4xl text-orange-600 font-black">Hight security</h1>
            <p class="text-violet-600 pt-5">We use <b>top security standards</b> recommemded<br> by IT industries, your data and system will always<br>
                    be protected, safe and never get lost.
            </p>
            <button class="bg-yellow-400 px-5 py-3 mt-4 rounded-full hover:bg-orange-600">
                    Contact us, we response under 2 hour.
            </button>
        </div>
        <div class="basis-1/2">
             <img src="images/slider2.png" alt="">
        </div>
    </div>
    <div class="flex flex-col mx-20 mt-10">
        <div class="">
            <h5 class="text-center text-sm text-orange-500 font-black">
                WHAT WE DO
            </h5>
            <h2 class="text-center text-2xl font-black text-violet-700 mt-3 ">
                We build amazing software for your business
            </h2>
            <p class="text-center text-md text-violet-500 mt-5">
                Geneat Software is a creative team of software professionals.  
                Geneat Software is a creative team of software professionals.
                Geneat Software is a creative team of software professionals.
                Geneat Software is a creative team of software professionals.
            </p>
        </div>
    </div>
    <div class="flex flex-row m-20 justify-between">
        <div class="bassis-1/3 w-80 ml-5">
            <img src="images/service_1.jpg" alt="">
        </div>
        <div class="bassis-1/3 w-80 ml-5">
            <img src="images/service_2.jpg" alt="">
        </div>
        <div class="bassis-1/3 w-80 ml-5">
            <img src="images/service_3.jpg" alt="">
        </div>
    </div>
    <div class="flex flex-col mt-10 bg-gray-200 text-center pb-10">
        <h3 class="text-sm pt-10 text-orange-500 font-black">
            OUR KEY COMPETENCES
        </h3>
        <h1 class="text-3xl font-black mt-3">
            Why Choose Us?
        </h1>
    <div class="grid grid-cols-3 gap-3 mx-20 mt-10">
        <div class="flex">
            <i class="fas fa-tachometer-alt"></i>
            <h2 class="mx-10">
                    Hight Quality
            </h2>
        </div>
        <div class="flex ">
            <i class="fas fa-headphones-alt"></i>
            <h2 class="mx-10">
                    Dedicated Consultation
            </h2>
        </div>
        <div class="flex">
            <i class="far fa-calendar-alt"></i>
            <h2 class="mx-10">
                    Optimal Cost & Time
            </h2>
        </div>
        <div class="flex mt-5">
            <i class="fas fa-tachometer-alt"></i>
            <h2 class="mx-10">
                    Advanced Analytics
            </h2>
        </div>
        <div class="flex mt-5">
            <i class="fas fa-headphones-alt"></i>
            <h2 class="mx-10">
                Pragramtic Solutions
            </h2>
        </div>
        <div class="flex mt-5">
            <i class="far fa-calendar-alt"></i>
            <h2 class="mx-10">
                    Expert Support
            </h2>
        </div>
    </div>  
    </div> 
    <div class="grid grid-cols-2 mx-20 my-10">
        <div class="">
            <div class="w-full flex justify-end">
                <img class="w-20" src="images/blob-tear.svg"  alt="">
            </div>
            <div class="img02">
                <img src="images/about.jpg" alt="">
            </div>
            <div class="w-full">
                <img src="images/blob-tear.svg" class="w-20" alt="">
            </div>
        </div>
        <div class="ml-5 mt-10">
            <div class="flex flex-col">
                <div class="text-sm text-orange-600 font-black">
                    <h2>
                        WHO WE ARE
                    </h2>
                </div>
                <div class="text-lg font-black text-violet-800 mt-2">
                    <h2>
                        SOFTWARE Make in <br> Vietnam
                    </h2>   
                </div>
                <div class="text-sm text-violet-500 pt-10 pr-40">
                    <p class="">
                        Geneat Software is a creative team of software professionals.  
                        Geneat Software is a creative team of software professionals.
                        Geneat Software is a creative team of software professionals.
                    </p>
                    <p class="mt-2">
                        Geneat Software is a creative team of software professionals.  
                        Geneat Software is a creative team of software professionals.
                        Geneat Software is a creative team of software professionals.
                    </p>
                    <p class="mt-2">
                        Geneat Software is a creative team of software professionals.  
                        Geneat Software is a creative team of software professionals.
                        Geneat Software is a creative team
                    </p>
                    <p>
                        Geneat Software is a creative team of software professionals.  
                        Geneat Software is a creative team of software professionals.
                    </p>
                    <p class="mt-2">
                        Geneat Software is a creative team of software professionals.  
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col  bg-gray-200 pt-12 pb-20">
        <div class="mx-20">
            <h2 class="text-sm text-center text-orange-600 font-black">
                ACCOMPLISHMENTS
            </h2>
            <h2 class="text-xl text-center text-violet-800 font-black pt-3">
                Our Completed Projects
            </h2>
            <p class="text-violet-500 text-center pt-3">
                We are always proud to share projects we have worked on, and we would gladly invite you to contact us for 
                further information. All of our projects are equally important to us, no matter how big or small projects are.
                It is about delivering quality projects by our committed team.
            </p>
        </div>
        <div class="flex flex-row space-x-5 mx-20 mt-4">
            <div class="basis-1/3 bg-gray-100 px-3">
                <img class="rounded-2xl mt-3" src="images/stup-cover.jpg" alt="">
                <div class="mt-4">
                    <a href="#" class="text-xl text-violet-600 font-bold hover:text-orange-500">CMS Contractor</a>
                    <h2 class="mt-4">
                        CMSContractor Website
                    </h2>
                </div>
            </div>
            <div class="basis-1/3 bg-gray-100 px-3">
                <img class="rounded-2xl mt-3" src="images/saleslikezone-cover.jpg" alt="">
                <div class="mt-4">
                    <a href="#" class="text-xl text-violet-600 font-bold hover:text-orange-500">LikeZone Sales System</a>
                    <h2 class="mt-4">
                        Omnichannels sales system
                    </h2>
                </div>
            </div>
            <div class="basis-1/3 bg-gray-100 px-3">
                <img class="rounded-2xl mt-3" src="images/dcs-cover.jpg" alt="">
                <div class="mt-4">
                    <a href="#" class="text-xl text-violet-600 font-bold hover:text-orange-500">DCS</a>
                    <h2 class="pt-4">
                        Multiplatform sales network
                    </h2>
                </div>
            </div>
        </div>
        <div class="text-center pt-10">
            <button class="bg-yellow-400 py-3 px-6 rounded-full text-sm text-gray-700 hover:bg-orange-500">
                View our portfolio
            </button>
        </div>
    </div>
   
    
</template>
