<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup

import Template from './components/Template.vue'


components:{Template}
</script>

<template>


    <Template/>
    

</template>

<style>
 
</style>
