@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../fonts/GoogleSans-Medium.ttf');
}


body{
  font-family: 'GoogleSans-Medium';
} 